# Print & Variables

In [2]:
print("Hello Python")

Hello Python

In [3]:
print("Habiba","Iqbal")

Habiba Iqbal

In [4]:
print(10)

10

In [5]:
print(-28736)

-28736

# Variables

In [6]:
# +ve integer assign to a variable
num=56
print(num)

56

In [7]:
# -ve integer assign to a variable
num=-87
print(num)

-87

In [8]:
# +ve float assign to a variable
num=1.8982
print(num)

1.8982

In [9]:
# -ve float assign to a variable
num=-1.8982
print(num)

-1.8982

# Complex Number

In [11]:
print(complex(10,78))

(10+78j)

In [12]:
print(complex(12.7,-78))

(12.7-78j)

In [13]:
cmp=complex(0,2)
print(cmp)

2j

In [14]:
cmp=complex(1,2)
print(cmp)

(1+2j)

# Boolean

In [15]:
print(True)

True

In [17]:
c=True
print(c)

True

# Length of String

In [18]:
str_1="Hello Python World" #len of string count with space
print(len(str_1))

18

# Accessing Characters with index

In [20]:
str_2 = "I am a programmer"
ps=str_2[0]
print(ps)

I

In [26]:
ps=str_2[7]
print(ps)

p

In [28]:
#Reverse indexing
ps=str_2[-5]
print(ps)

a

# Slicing

In [36]:
my_str="Now Slicing of String"
print(my_str[0:11])

Now Slicing

In [37]:
print(my_str[1:11])

ow Slicing

In [40]:
print(my_str[11:len(my_str)])

 of String

In [43]:
#Define steps in slicing
print(my_str[0:6:2])

NwS

In [48]:
print(my_str[15:0:-2])

Sf ncl o

In [49]:
print(my_str[:])

Now Slicing of String

In [51]:
print(my_str[::-2])

git ogiiSwN

# Arithmetic Operators

In [52]:
#Addition (+) Operators
num=15+65
print(num)

80

In [53]:
print(1287+98)

1385

In [56]:
#Subtraction
float1 = -18.678
float2 = 3.55
print(float1 - float2)

-22.228

In [57]:
#Multiplication
print(12*5)

60

In [58]:
num=122*78
print(num)

9516

In [59]:
#Division
num=122/12
print(num)

10.166666666666666

In [63]:
print(12/2)

6.0

In [64]:
#Floor Divison
print(13//12)

1

In [65]:
print(12.4//2)

6.0

In [66]:
#Modulo
print(12%2)

0

In [67]:
print(-28 % 10)

2

In [68]:
#Precedence   
print(10-3*2)

4

In [69]:
print(3/20 *5)

0.75

In [70]:
#Parentheses
print((18 + 2) / (10 % 8))

10.0

# Comparison Operators

In [74]:
v1=12
v2=89
v3=12
print(v2>v1)
print(v1<v2)
print(v1!=v2)
print(v1==v2)
print(v1==v3)

True
True
True
False
True

# Assignment Operators

In [75]:
#Assigning Value
year=2021
print(year)
y=year+1
print(y)

2021
2022

In [77]:
first=20
second=first #remain
first=35 #update
print(first,second)

35 20

In [85]:
num=15
print(num)
num+=3
print(num)
num-=6
print(num)
num/=3
print(num)
num*=7
print(num)
num**=2
print(num)

15
18
12
4.0
28.0
784.0

# Logical operator

In [5]:
my_bool = True and False
print(my_bool)
# NOT expression
my_bool = False
print(not my_bool)
print(10 * True)
print(10 * False)

False
True
10
0

# Comparison Operator

In [12]:
print('a' < 'b')
ab="habiba"
ba="iqbal "
print(ab==ba)
print(ab>=ba)
print(ab<=ba)

True
False
False
True

# Concatenation

In [15]:
str_1="habiba "
str_2="Iqbal"
print(str_1+str_2)

habiba Iqbal

In [16]:
#For repeating result * multiply with string
print("ha"* 5)

hahahahaha

# Search

In [22]:
str_="I want to become a full stack developer"
print('want'in str_)

True

# List

In [23]:
list_1=[1234,"habiba",True,'Iqbal']
print(list_1)

[1234, 'habiba', True, 'Iqbal']

In [24]:
print(list_1[1])
print(len(list_1))

habiba
4

# Conditional Statement

If Statement

In [28]:
num=67
if (num==67):
    print("num equal to 67")

num equal to 67

In [29]:
str_1='habiba'
str_2='Iqbal'
if(str_1>str_2 and str_1!=str_2):
    print("Yes True condition")

Yes True condition

In [30]:
if(str_1>str_2 and str_1!=str_2):
    if (num==67):
       if(num>50 and num<100 and num* 5):
        print("Yes True Conditions")

Yes True Conditions

In [33]:
if(num<100):
    num=120
    new_num=num*5
print(num)
print(new_num)

120
600

In [36]:
if(num>=100):
    print("True")
else:
    print("False")

False

In [37]:
light="Red"
if(light=="Green"):
    print("Go")
elif(light=="Yellow"):
    print("Caution")
elif(light=="Red"):
    print("Stop")
else:
    print("Wrong Signal")

Stop

# Functions

In [39]:
num=min(20,30)
print(num)
num=min(19,87,9,237,7)
print(num)
num=min("habiba","Iqbal")
print(num)

20
7
Iqbal

In [41]:
def print1():
    print("I")
    print("am")
    print("Habiba")
print1()
print1()

I
am
Habiba
I
am
Habiba

In [42]:
#by parameters
def minimum(first,second):
    if first<second:
        print(first)
    else:
        print(second)
    
num1=78
num2=88
minimum(num1,num2)

78

In [43]:
def minimum(first,second):
    if first<second:
        return first
    return second
    
num1=78
num2=88
result=minimum(num1,num2)
print(result)

78

In [50]:
def func():
    name=5
    print(name)
func()
print(name) #outside calling

5

NameError: name 'name' is not defined

In [52]:
num=20

def multi(n):
    n*=5
    num=n
    print("print inside the function",num)
    return n
multi(num)
print("Value of outside the function",num)

print inside the function 100
Value of outside the function 20

In [73]:
num2=[10,20,30,40]
print(num2)
def mut(mut):
    mut[0] *=10
    mut[1] *=10
    mut[2] *=10
    mut[3] *=10
mut(num2)
print(num2)

[10, 20, 30, 40]
[100, 200, 300, 400]

# Built-in Function

In [81]:
#Find Function
any_string="Yes this is built-in function"
print(any_string.find("this"))
print(any_string.find("buuilt-in",4,8))# No instance of 'is' in this range

4
-1

In [83]:
#Replace Function
a="Replace function"
new_a=a.replace("function","String Now!")
print(a)
print(new_a)

Replace function
Replace String Now!

In [84]:
#Change Letter Upper $ Lower
print("hello!".upper())
print("Hello PYTHON".lower())

HELLO!
hello python

In [86]:
#int conversion
print(int("67") * 10)  # String to integer
print(int(20.5))  # Float to integer
print(int(False))  # Bool to integer
# print (int("Hello")) # This wouldn't work!

670
20
0

In [89]:
#ord() to convert a character to its Unicode value
print(ord('z'))
print(ord('2'))

122
50

In [90]:
#float point conversion
print(float(24))
print(float('24.5'))
print(float(True))

24.0
24.5
1.0

In [91]:
#converting into string str()
print(str(12) + '.345')
print(str(False))
print(str(12.345) + ' is a string')

12.345
False
12.345 is a string

In [92]:
#bool() converted into boolean 
print(bool(10))
print(bool(0.0))
print(bool("Hello"))
print(bool(""))

True
False
True
False

# Lambda Returns some form of data

In [93]:
 # Assigning the lambda to a variable
var=lambda num:num * 3
print(var(10))

30

In [96]:
concatenate = lambda a,b,c:a[:]+b[:]+c[:]
print(concatenate("world","wide","web"))

worldwideweb

In [101]:
func=lambda num:"High" if num>50 else "low"
print(func(40))

low

In [104]:
#filter function
numList = [30, 2, -15, 17, 9, 100]

print(list(filter(lambda n: n > 10, numList)))

[30, 17, 100]

In [105]:
#Recursive Function
def rec_count(number):
    print(number)
    # Base case
    if number == 0:
        return 0
    rec_count(number - 1)  # A recursive call with a different argument
    print(number)


rec_count(5)

5
4
3
2
1
0
1
2
3
4
5

In [108]:
my_string = "Hello"


def exclamation(my_string):
    my_string = "!!" + my_string + "!!"
    return my_string


exclamation(my_string)
print(my_string)

Hello

In [109]:
git commit –m "Task"

SyntaxError: invalid syntax (<ipython-input-109-e2c19590eaec>, line 1)